# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
C:\Users\ddewe\IdeaProjects\Codewars\.idea
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Target folder
C:\Users\ddewe\IdeaProjects\Codewars\target
C:\Users\ddewe\IdeaProjects\Codewars\.idea\.gitignore